body {
    justify-content: center;
    align-items: center;
    display: flex;
    background: #ff6a5c;
}

.box2{
  color: white;
   font-family: 'Open Sans', sans-serif;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    
}

.box1{
   display: flex;
    justify-content: center;
    
    
}

