body {
	margin-top: 0;
	margin-bottom: 0;
	height: 100%;
	margin: 0;
	padding: 0;
    font-family: 'Open Sans', sans-serif;
   background:  #fc6c85 ;
    color: ghostwhite;
  
}


.body-left{
    
   text-align: center; 
   font-size: 1.2rem;
    
    
}

.body-right {
    
  text-align: center;  

}
.left {
	width: 50%;
	height: 100vh;
	float: left;
}
.right {
	width: 50%;
	height: 100vh;
	float: right;
	 OUTLINE: 1px solid white;
}
.button {
  padding-left: 93px;  
    
}
