.main {
 bottom: 0;
height: 100px;
margin: auto;
left: 0;
position: absolute;
right: 0;
top: 0;
width: 200px;

 

  
}



._main-title {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 35px;
  padding: 0 0 0 0; 

 
}

._main-title_body {
  text-align: center;
 font-family: 'Roboto', sans-serif;
  font-size: 20px
  padding-bottom:5px;

}

.button {
  padding-left: 30px;
 
}


