
<html>



<head>
	<link rel="stylesheet" type="text/css" href="/static/home.css">
 <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body style="background-color:#cd5360">
 
  <div class="main">
    <div class="_main-title">
      <h3> Mankind. </h3>
    </div>
    <div class="_main-title_body">
      <h2> Do Good Things. </h2>
    </div>
    <div class="button">
    <div class="wrapper">
  <div class="file-upload">
    <input type="file" />
    <i class="fa fa-arrow-up"></i>
  </div>
</div>
    </div>
  </div>

</body>
    
 


</html>
    
