<!DOCTYPE html>
<!-- <html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link href="/static/home.css" rel="stylesheet" type="text/css">
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
	<title></title>
</head>
<body>
	<div class="left">
		<div class="body-left">
			<h2>Uploader</h2>
			<h3>Do good things.</h3>
			<div class="button">
				<div class="wrapper">
					<div class="file-upload">
						<form action = "http://localhost:5000/upload" method = "POST" 
				         enctype = "multipart/form-data">
				         <input type = "file" name = "file" /> <i class="fa fa-arrow-up"></i>
				         <input type = "submit""/>
				      </form>
						<div id="loading" style="display:none;"><img src="loading.gif" alt="" />Loading!</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="right">
		<div class="body-right">
			<video controls="controls" width="800" height="600" name="Video Name" src="/uploads/sample-video.mp4"></video>
			<h2>Preview goes here:</h2>
		</div>
	</div>
</body>
</html> -->



<!DOCTYPE html>
<html>
<head>

	<script src="/static/Javascript.js" type="text/javascript">
	</script>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link href="/static/home.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" type="text/css" href="/static/davidzone.css">
	
	<title></title>
</head>
<body id="body">
	<div class="container">
		<div class="box1"><img alt="Cloud computing free icon" class="icon" height="224" src="https://image.flaticon.com/icons/svg/376/376924.svg" title="Cloud computing free icon" width="224"></div>
		<div class="box2">
			
			<h2>Do Great Things.</h2>
			<form action = "http://localhost:5000/upload" class="dropzone" method = "POST" 
				         enctype = "multipart/form-data">
				         <input type = "file" name = "file" /> <i class="fa fa-arrow-up"></i>
				         <input type = "submit" />
				      </form>
			
			 
			
			<!--  	Drop Here.
			<form action="/target" action = "http://localhost:5000/upload" class="davidzone dropzone" method = "POST" id="mydropzone" ></form>
			<button id="submit-all">Submit all files</button> -->
							
						

		</div>
	</div>
<!-- <script type="text/javascript" href="/static/dropzone.js"></script> -->
	
</body>
</html>