<!DOCTYPE html>
<html lang="en">
<head>
    <title>Reduce Me!</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/dropzone.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link href="/static/home.css" rel="stylesheet" type="text/css">
</head>
    
<body>
    <div class="parent">
         <div class="box1" id= "my-dropzone">
            <div class="box--content">
             <img alt="Cloud computing free icon" class="icon" height="224" src="https://image.flaticon.com/icons/svg/376/376924.svg" title="Cloud computing free icon" width="224">
			<div class="text">
				<h2>Do Great Things.</h2>
				<p><span id="text">Drop File Anywhere.</span></p>
			</div>
            </div>
            </div>
    
           <div class="box2" id="box2">
             <div class="box--content">
             <h2> Preview Goes Here:</h2>
               </div>
  
               
               
               
             </div>
           </div>

  
		

</body>
    <script type="text/javascript" src="/static/dropzone.js"></script>
<script type="text/javascript" src="/static/javascript.js"></script>
</html>